/* ---------------------------------
 *          Code Highlight
 * --------------------------------- */
$codeblock-caption-bg ?= rgba(200, 200, 200, .15)

figure.highlight
    padding: 0
    width: 100%
    position: relative
    margin: 1em 0 1em !important
    border-radius: $radius

    &.folded
        .highlight-body
            height: 0
    
    .copy
        opacity: .7

    pre, table tr:hover
        color: inherit
        background: transparent

    table
        width: auto

        tr td
            border: none

        tr:not(:first-child) td
            padding-top: 0

        tr:not(:last-child) td
            padding-bottom: 0

    pre
        padding: 0
        overflow: visible

        .line, code .hljs
            line-height: 1.5rem

    figcaption, .gutter
        background: $codeblock-caption-bg

    figcaption
        margin: 0 !important
        padding: .3em 0em .3em .75em
        font-style: normal
        font-size: .8em

        *
            color: inherit

        span
            font-weight: 500
            font-family: $family-code

        .level-left *:not(:last-child)
            margin-right: .5em

        .level-right *:not(:first-child)
            margin-left: .5em

        .fold
            cursor: pointer

        &.level
            overflow: auto

            .level-right
                a
                    padding: 0em .75em

    .highlight-body
        overflow: auto

    .gutter
        text-align: right

    .tag, .title, .number, .section
        display: inherit
        font: inherit
        margin: inherit
        padding: inherit
        background: inherit
        height: inherit
        text-align: inherit
        vertical-align: inherit
        min-width: inherit
        border-radius: inherit

/* ---------------------------------
 *        Fix Gist Snippet
 * --------------------------------- */
.gist
    table
      tr:hover
          background: transparent

      td
        border: none

    .file
        all: initial

    // colours

    a     // general links
      color: #6596e4 !important

    .gist-file    // chrome
      border-color : white !important
      background-color: white !important
    
    .gist-meta    // footer
        color: #C0C5CE !important
        background-color: #35434A !important
        a
          color: #80868a !important

    .gist-data    // scrollbar and separator
      background: #35434A !important
      border-bottom-color: #5a5e61 !important

    .blob-num     // line numbers
        color: #C0C5CE !important
        background-color: #35434A !important

    .blob-code-inner    // braces and other text
        color: #C0C5CE !important

    .highlight    // code block
        background-color: #1B2B34 !important
    
    .pl-c           // comment
        color: #99c794 !important

// TODO
    .pl-c1          // constant
    .pl-mdh         // meta.diff.header
    .pl-mm          // meta.module-reference
    .pl-mp          // meta.property-name
    .pl-mr          // markup.raw
    .pl-s1 .pl-v    // string variable
    .pl-s3          // support
    .pl-sc          // support.constant
    .pl-sv          // support.variable 
        color: #f99157 !important

    .pl-e           // entity
    .pl-en          // entity.name
        color: #fac863 !important

    .pl-s1 .pl-s2   // string source
    .pl-smi         // storage.modifier.import
    .pl-smp         // storage.modifier.package
    .pl-stj         // storage.type.java
    .pl-vo          // variable.other
    .pl-vpf         // variable.parameter.functio
      color: #c594c5 !important

    .pl-ent         // entity.name.tag
      color: #99c794 !important

    .pl-k           // keyword
    .pl-s           // storage
    .pl-st          // storage.type
      color: #AB7967 !important

// TODO
    .pl-pds                  // punctuation.definition.string
    .pl-s1 .pl-pse .pl-s2    // string punctuation.section.embedded source
    .pl-sr                   // string.regexp
    .pl-sr .pl-cce           // string.regexp constant.character.escape
    .pl-sr .pl-sra           // string.regexp string.regexp.arbitrary-repitition
    .pl-sr .pl-sre           // string.regexp source.ruby.embedded
    .pl-src                  // string.regexp.character-class
    .pl-v                    // variable
      color: #df5000 !important

// TODO
    .pl-id          // invalid.deprecated
      color: #b52a1d !important

// TODO
    .pl-ii          // invalid.illegal
      background-color: #b52a1d !important
      color: #f8f8f8 !important

// TODO
    .pl-sr .pl-cce  // string.regexp constant.character.escape
      color: #63a35c !important
      font-weight: bold !important

// TODO
    .pl-ml          // markup.list
      color: #693a17 !important

// TODO
    .pl-mh          // markup.heading,
    .pl-mh          // markup.heading
    .pl-ms          // meta.separator
      color: #1d3e81 !important
      font-weight: bold !important

// TODO
    .pl-mq          // markup.quote
      color: #008080 !important

// TODO
    .pl-mi          // markup.italic
      color: #333 !important
      font-style: italic !important

// TODO
    .pl-mb          // markup.bold
      color: #333 !important
      font-weight: bold !important

// TODO
    .pl-md          // markup.deleted,
    .pl-mdhf        // meta.diff.header.from-file
      background-color: #ffecec !important
      color: #bd2c00 !important

// TODO
    .pl-mdht        // meta.diff.header.to-file,
    .pl-mi1         // markup.inserted
      background-color: #eaffea !important
      color: #55a532 !important

// TODO
    .pl-mdr         // meta.diff.range
      color: #795da3 !important
      font-weight: bold !important

// TODO
    .pl-mo          // meta.output
      color: #1d3e81 !important

